{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-05-12T15:00:11+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  156650
//      Project:        418
//      Environment:    1228 - master
//      MD5:            439d2a1c3be30bbc162f4619b3a360bf
//      Signature:      eyJpdiI6IjhMQmltRWJXbmxsVW5sQXZHWENJdFE9PSIsInZhbHVlIjoicnZPcUFWcWZvS0ZDNlVIZHJ0WGRQa0JiRmhpOEdFc1ppb0ZjKzZyeURNYTUyTTIyeVBlelE2dmpsdHlPbFNBQkM1azFrK09jdFl3cmxZZExyTm8rWGJMRDVSRVpYXC9Fa2dlV0k2VmFiSzhORzNERG80dkRpM1wvMTdPRlB3Z0dzdWd0SnAxOHQraDlHK1FcL09zYTZ1MndrZlpnQWx1WjlUWHdEZEpyV0JFakZVV1BQQ0EyR0U2K2taSXR1NmNEMlFidTRvZ1BTcTR6bFY0YmxnN2lrMElKbm1DMG5GMVY1UCtxbVhYYnFyU1RcLzNSVUhPSUtGMVR4dXBKS2NHU21LZk1mdDVpeVptc1FWNURGQk1hVlhJY0VwbEkwd0ZRUllTajF2Z243RVdUd055aDZTalJpV2QybUd0c2xLaGN0MW4xanVHSEpPTVRhUXhwMjNpQVhWVzNDdHMxWTRJQlFpVlhodEZMWGxWNXFNMVFDSFo5MWszVnV3c1psK3liQ1MwUUZ6V0tmXC83QWJVWWlybmZiaXlzaDJBPT0iLCJtYWMiOiJlODNmMTk0MjZlMTVmNzQzMTE4YzU3ZWY5NjVlZDg5NDg4NDM0MTg4ZWE1NGE3NTdmZWZlOGJlM2FjYTgwOTAyIn0=
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% assign cart_item_image_dimensions = '180x' %}

<div class="cart-item">
    <a href="{{ item.url }}" class="cart-item__image object-cover">
        <img src="{{ item.image | img_url: '10x' }}" data-preload="{{ item.image | img_url: cart_item_image_dimensions }}" alt="{{ item.alt | default: item.product.title }}">
    </a>
    <div class="cart-item__information">
        <h3 class="cart-item__title">{{ product.title }}</h3>
        {%- include 'product-price', product: item, class: 'cart-item__price' -%}
        {%- include 'product-quantity', class: 'cart-item__quantity' -%}
        <button class="cart-item__remove" data-cart-update='{ "action": "remove", "variantID": {{ item.variant_id }} }'>X {{ 'cart.general.remove' | t }}</button>
    </div>
</div>
