{% for value in collection.metafields.custom.collection_cards.value %}
  {% liquid
    assign cardMeta = value
    assign card_index = cardMeta.position
    assign card_title = cardMeta.title
    assign imgUrl = cardMeta.image | image_url | split: 'files/' | last | split: '?v=' | first
    assign card_image = images[imgUrl]
    assign card_subsdecription = cardMeta.subdescrption
    assign card_btn_text = cardMeta.button_text
    assign card_redirection = cardMeta.redirection_link
    assign span_count = cardMeta.span_count
    assign currenIndex = paginate.current_offset | plus: loop.index
  %}
  {% if currenIndex == card_index and span_count == 1 %}
    <div class="image-card-plp">
      {% liquid
        assign card_ratio = 0.8
        if card_image != blank
          assign card_ratio = card_image.aspect_ratio
        endif
      %}
      <div class="relative bg-[#F8F8F8]" style="height:100%">
        {% if card_image != blank %}
          <img
            srcset="
              {%- if card_image.width >= 165 -%}{{ card_image | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if card_image.width >= 360 -%}{{ card_image | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if card_image.width >= 533 -%}{{ card_image | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if card_image.width >= 720 -%}{{ card_image | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if card_image.width >= 940 -%}{{ card_image | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if card_image.width >= 1066 -%}{{ card_image | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ card_image | image_url }} {{ card_image.width }}w
            "
            src="{{ card_image | image_url: width: 533 }}"
            sizes="(min-width: 1600px) {{ 1600 | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt="{{ card_image.alt | escape }}"
            loading="lazy"
            class="absolute top-0 left-0 w-auto h-full object-cover"
            width="{{ card_image.width | divided_by : 4 }}"
            height="{{ card_image.height }}"
          >
        {% endif %}
        <div class="absolute bottom-0 top-0 left-0 w-full pb-[23px] px-[9px] flex flex-col gap-6 items-center justify-center">
          <div class="flex flex-col gap-3 items-center justify-center">
            {% if card_title != blank %}
              <h3 class="text-center font-gascogne-serial text-[#fff] text-[20px] lg:text-[26px] font-light capitalize leading-[31.2px]">
                {{ card_title }}
              </h3>
            {% endif %}
            {% if card_subsdecription != blank %}
              <p class="font-shape text-[#fff] text-[16px] leading-[24p] text-center font-normal">
                {{ card_subsdecription }}
              </p>
            {% endif %}
          </div>

          {% if card_btn_text != blank %}
            <a
              class="bg-[#fff] rounded-full font-shape text-[11px] px-4 lg:px-8 py-3 font-normal uppercase text-[#121212]"
              href="{{ card_redirection }}"
            >
              {{- card_btn_text -}}
            </a>
          {% endif %}
          <a
            class="h-full w-full absolute top-0 left-0"
            href="{{ card_redirection }}"
          ></a>
        </div>
      </div>
    </div>
  {% endif %}
  {% if currenIndex == card_index and span_count == 2 %}
    <div class="banner-image-plp group-[&.layout-2]/collection:col-span-1 col-span-2 lg:col-span-2 lg:group-[&.layout-2]/collection:col-span-2">
      {% liquid
        assign card_ratio = 1.2
        if card_image != blank
          assign card_ratio = card_image.aspect_ratio
        endif
      %}
      <div class="relative bg-[#F8F8F8]" style="padding-bottom:{{ 1 | divided_by : card_ratio | times : 100 }}%">
        {% if card_image != blank %}
          <picture>
            <source
              media="(max-width: 1024px)"
              srcset="
                {{ card_image | image_url: width: 1000 }} ,
                {{ card_image | image_url: width: 1100 }} ,
                {{ card_image | image_url: width: 1200 }} ,
                {{ card_image | image_url: width: 1300 }} ,
                {{ card_image | image_url: width: 1400 }} ,
              "
            >
            {{
              card_image
              | image_url: width: 1200
              | image_tag:
                widths: '1000,1100,1200,1300,1400',
                class: 'absolute w-full h-full top-0 left-0',
                loading: 'lazy',
                sizes: '(min-width: 1000px) 1000px'
            }}
          </picture>
        {% endif %}
        <div class="absolute bottom-0 top-0 left-0 w-full pb-[23px] px-[9px] flex flex-col gap-6 items-center justify-center">
          <div class="flex flex-col gap-3 items-center justify-center">
            {% if card_title != blank %}
              <h3 class="text-center font-gascogne-serial text-[#fff] text-[26px] lg:text-[46px] lg:leading-[60px] font-light leading-6 lg:tracking-[0.69px]">
                {{ card_title }}
              </h3>
            {% endif %}
            {% if card_subsdecription != blank %}
              <p class="font-shape text-[#fff] text-[14px] max-w-[346px] text-center lg:tracking-[0.067px] lg:leading-[20px]">
                {{ card_subsdecription }}
              </p>
            {% endif %}
          </div>
          {% if card_btn_text != blank %}
            <a
              class="bg-[#fff] rounded-full font-shape text-[13px] px-8 lg:px-[42px] py-3 font-normal uppercase text-[#121212]"
              href="{{ card_redirection }}"
            >
              {{- card_btn_text -}}
            </a>
          {% endif %}
          <a
            class="h-full w-full absolute top-0 left-0"
            href="{{ card_redirection }}"
          ></a>
        </div>
      </div>
    </div>
  {% endif %}
  {% if currenIndex == card_index and span_count == 3 %}
    <div class="banner-image-plp col-span-2 group-[&.layout-2]/collection:col-span-1 lg:col-span-3 lg:group-[&.layout-2]/collection:col-span-2">
      {% liquid
        assign card_ratio = 1.2
        if card_image != blank
          assign card_ratio = card_image.aspect_ratio
        endif
      %}
      <div class="relative bg-[#F8F8F8] " style="padding-bottom:{{ 1 | divided_by : card_ratio | times : 100 }}%">
        <picture>
          <source
            media="(max-width: 1024px)"
            srcset="
              {{ card_image | image_url: width: 1000 }} ,
              {{ card_image | image_url: width: 1100 }} ,
              {{ card_image | image_url: width: 1200 }} ,
              {{ card_image | image_url: width: 1300 }} ,
              {{ card_image | image_url: width: 1400 }} ,
            "
          >
          {{
            card_image
            | image_url: width: 1200
            | image_tag:
              widths: '1000,1100,1200,1300,1400',
              class: 'absolute w-full h-full top-0 left-0',
              loading: 'lazy',
              sizes: '(min-width: 1000px) 1000px'
          }}
        </picture>
        <div class="absolute bottom-0 top-0 left-0 w-full pb-[23px] px-[9px] flex flex-col gap-6 items-center justify-center">
          <div class="flex flex-col gap-3 items-center justify-center">
            {% if card_subsdecription != blank %}
              <p class="font-shape text-[#fff] text-[14px] max-w-[346px] text-center lg:tracking-[0.067px] lg:leading-[20px]">
                {{ card_subsdecription }}
              </p>
            {% endif %}
            {% if card_title != blank %}
              <h3 class="text-center font-gascogne-serial text-[#fff] text-[20px] lg:text-[46px] lg:leading-[60px] font-light leading-6 lg:tracking-[0.69px]">
                {{ card_title }}
              </h3>
            {% endif %}
          </div>
          {% if card_btn_text != blank %}
            <a
              class="bg-[#fff] rounded-full font-shape text-[13px] px-4 lg:px-[42px] py-3 font-normal uppercase text-[#121212]"
              href="{{ card_redirection }}"
            >
              {{- card_btn_text -}}
            </a>
          {% endif %}
          <a
            class="h-full w-full absolute top-0 left-0"
            href="{{ card_redirection }}"
          ></a>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
