{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-05-12T15:00:08+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  156650
//      Project:        418
//      Environment:    1228 - master
//      MD5:            05a07f1591e3315a743d34e1c4467588
//      Signature:      eyJpdiI6IkhvUFo0YTBBc2VjUUdwQkdtV0ZwOFE9PSIsInZhbHVlIjoiUjloUXAwOFp2enZhXC9kVkZkWXRVWURud1JqT2xNdmtseDN4Nms1UE05WXQ0aDN2STBESWh3dW9SQ1BMc2c2Qm5LZWM0NW4zMW4xRUR0bEZzNGxSckhJYVI1V2U5T2ZnQVVPdTIwUTY0WjU5OHozQUNTZ0RXdWhSc2pvRW5NWXRQMnc0TWxLdGI4dUdlWmE1MlJ1RUJVN2dNSG5sck14Y0JtR0EwMHIyWFB0NkJ2ZEVRMWdhbzUrTWVlczVGZ1RWWXlPbk5rbHFkUW9oaVhJWG83eURlekF3K1JBM21hMUdubXBVRDVld2NxZFpFMW5iSkIzRjloUHNvWjVsWmZ4TWJ3RWJJMk0zOW5Hd3cwY24wZHExdmY0ZCtHVmk2TmluejMybGdzeERrc2RCU0VlSEdhcjZOZW5uSFgybnpQTFlKd1A2NWRYNmpGdEVtZFpsdWs1UXRWT1NoODgwblROVUdXQjA4Y090TFI2MXVOd09sYko0V2o2M2Jrc2tTOFc4UVphRks0V0xMNUszUjRhd1hnY29teDBhQThyZlRrVGRDeEZoWFBHQmlMVjA9IiwibWFjIjoiOTE5YzI0ZmEzMjI3ZjM3MjE3NTAzYTY2YmU3MzVkOTBhZGJjNWVjOWQ3YThhYTMxMzM4MGE1OTBmMDNkYTZjYyJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
<label
    for="{{ section_id }}{{ product_id }}{{ index }}--control"
    role="tab"
    aria-selected="false"
    id="{{ section_id }}{{ product_id }}{{ index }}"
    tabindex="-1"
    class="product__tab block flex f-center f-vertical-center py-sm">
    <span class="xs--tablet fnt-sec uc sm">
        
        {{- tab_title | strip -}}
    
    </span>
</label>