{% if template contains 'index'
  or template contains 'collection'
  or template contains 'product'
  or template contains 'cart'
  or template contains '404'
  or template contains 'static-page-v2'
  or template contains 'delivery-v2'
  or template contains 'faq-v2'
  or template contains 'about-us-v2'
  or template contains 'contact-v2'
  or template contains 'our-services-v2'
  or template contains 'careers-v2'
  or template contains 'search'

%}
  <div
    data-role="search-input"
    class="group-[.is-sticky]/search:block z-[10] {{ class }} relative  group-[.is-sticky]:sticky w-full bg-white transition-opacity duration-300 "
  >
    <div class="m-container:max-w-[1600px] mx-auto m-container:mx-auto md:group-[.is-sticky]:shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.05)]">
      <div class="border-b-[#D8D8D8] border-b-[1px] border-t-[1px] p-4">
        <form
          action="{{ routes.search_url }}"
          class="bg-[#F5F5F5] rounded-full px-4 py-2 md:max-w[345px] md:mx-auto md:w-max"
        >
          <div class="flex items-center md:justify-center md:w-max md:mx-auto">
            {% render 'icon-v2', icon: 'icon-search', classAttr: 'w-5 h-5' %}
            <input
              type="text"
              placeholder="Search for..."
              maxlength="200"
              name="q"
              class="border-0 w-full md:w-[290px] lg:w-[540px] text-[12px] leading-[22px] font-shape text-[#595959] p-0 bg-transparent font-normal focus:ring-0 ml-2"
              value="{{ search.terms | escape }}"
              data-action="search-toggle"
            >
          </div>
          <input type="hidden" name="type" value="product">
          <input type="hidden" name="options[unavailable_products]" value="show">
          <input type="hidden" name="options[prefix]" value="last">
        </form>
      </div>
    </div>
  </div>
{% else %}
  {% style %}
    .is-sticky .mobile-search-input_wrapper {
      opacity: 0;
      transform: translateX(-100%);
    }
    .announcement-active .mobile-search-input_wrapper {
      opacity: 1;
      transform: translateX(0%);
    }
    .mobile-search-input_wrapper {
      display: block;
      transition: opacity 0.3s ease-in-out;
    }
    .mobile-search-input_wrapper.is-active {
      z-index: 10;
    }
    .search-input-wrapper {
      margin-left: auto;
      margin-right: auto;
    }
    .mobile-search-form_wrapper {
      border-bottom: solid 1px #d8d8d8;
      border-top: solid 1px #d8d8d8;
      padding: 16px;
    }
    .mobile-search-form {
      background-color: #f5f5f5;
      border-radius: 1000px;
      padding: 8px 20px;
    }
    .mobile-search_field {
      display: flex;
      align-items: center;
    }
    .mobile-search_field svg {
      width: 20px;
      height: 20px;
    }
    .mobile-search_field input {
      font-family: var(--secondary-font);
      border: 0px;
      width: 100%;
      line-height: 22px;
      font-size: 12px;
      color: #595959;
      padding: 0px;
      margin-left: 8px;
      background: transparent;
      font-weight: 400;
    }
    @media (min-width: 768px) {
      .mobile-search_field input {
        width: 290px;
      }
      .mobile-search-form_wrapper form {
        width: max-content;
        margin: 0 auto;
      }
    }
    @media (min-width: 1024px) {
      .mobile-search-input_wrapper {
        display: none;
      }
    }
  {% endstyle %}
  <div
    data-role="search-input"
    class="mobile-search-input_wrapper group-[.is-active]/search:block z-[10] {{ class }} {% if template contains 'index' %}lg:block{% endif %} relative group-[.is-sticky]:fixed w-full bg-white transition-opacity duration-300 "
  >
    <div class="search-input-wrapper m-container:max-w-[1600px] mx-auto m-container:mx-auto md:group-[.is-sticky]:shadow-[0px_4px_4px_0px_rgba(0,_0,_0,_0.05)]">
      <div class="mobile-search-form_wrapper border-b-[#D8D8D8] border-b-[1px] border-t-[1px] p-4">
        <form
          action="{{ routes.search_url }}"
          class="mobile-search-form bg-[#F5F5F5] rounded-full px-4 py-2 md:max-w[345px] md:mx-auto md:w-max"
        >
          <div class="mobile-search_field flex items-center md:justify-center md:w-max md:mx-auto">
            {% render 'icon-v2', icon: 'icon-search', classAttr: 'w-5 h-5' %}
            <input
              type="text"
              placeholder="Search for..."
              maxlength="200"
              name="q"
              class="border-0 w-full md:w-[290px] lg:w-[540px] text-[12px] leading-[22px] font-shape text-[#595959] p-0 bg-transparent font-normal focus:ring-0 ml-2"
              value="{{ search.terms | escape }}"
              data-action="search-toggle"
            >
          </div>
          <input type="hidden" name="type" value="product">
          <input type="hidden" name="options[unavailable_products]" value="show">
          <input type="hidden" name="options[prefix]" value="last">
        </form>
      </div>
    </div>
  </div>
{% endif %}
