{%- comment -%}
//    !!!! - DO NOT MODIFY - !!!!
//    THIS FILE IS DEPLOYED AUTOMATICALLY BY MATTv2.
//    CHANGES YOU MAKE MAY BE AUTOMATICALLY OVERWRITTEN AT ANY TIME.
//
//    Deployment info:
//      Updated at:     2022-05-12T15:00:24+00:00
//      Cause:          Manual deployment.
//      Deployment ID:  156650
//      Project:        418
//      Environment:    1228 - master
//      MD5:            f65c9d33b342bfd7d9abf6ff0aad5461
//      Signature:      eyJpdiI6IjgyWnkyTmhRWDRDWEw2V1VHUlFFTUE9PSIsInZhbHVlIjoiYU1yNWg2WHJWNkFMbVwvVjdDZDFWMHlJVmZzZFloUUM5NktPUmpHVUlaZytMQU4xQmVnMWE5RFVHb1FvTmlPVkpnRHQzYmpqdjNvd0o2b2RqYkFBUGo1SjhvR29IQWhFVmxrM0pHTWdVSXgyaUoxMThXQ2Y4SnpXc1RmN2t4dGhWNndhTmlUNGo5KzIyTnNKYUN1eHRKdUxUMmVTNFNWZnp1UGtQTUN3eDZQMTFUMG9YV1E2bTl2QjA3TXNuTVdDVGFTVXQybEtBR05sNCtiUm1qRzNQaHp2ODNKK2hRb0ZubTZ3Rk82RXAzWFdhREN6SmpXVWwxQ2tLeHliOUxBSWFlVnp1Nms2QUdnNGF6cGRFSVwvY1RkWExqMEl1MXBBc0FkR01yUDFTY1wvTDFaRWFMMFhiNURNOWZ3WitNTW9rcndHZUY5Q0VxOUEwSmlUQTRWRlZ6ak9IZUhTWERYb1lPclJjaUxGWmhqNWExZWhRUTdRZm9rRFJEWThGbTNHN3lZYmFyNDY2QnNtVGU3TWsrdGY3WmFVdz09IiwibWFjIjoiYzhkZWY5ZjczZWQ5MGFmOTdiODgzNTA1ZTMxYThkYjRmNGZiZjA3MWJkYjU2YWM0YmFhZDVhNTUwYTBjZjY5NiJ9
//
//    MATT is an automated theme deployment pipeline for Shopify, built by Eastside Co.
//    It is used to provide version control and reliable deployment environments.
//
//    If you need to modify this file, please contact Eastside Co.
{%- endcomment -%}
{% capture wrapper_change_class %}
[
    {
        "elem":"body",
        "class":"cart-open",
        "action":"remove",
        "targetOnly": true
    },
    {
        "elem":".slideout-cart__wrapper",
        "class":"infront",
        "action":"remove",
        "delay":300,
        "targetOnly": true
    }
]
{% endcapture %}
{% capture close_button_change_class %}
[
    {
        "elem":"body",
        "class":"cart-open",
        "action":"remove"
    },
    {
        "elem":".slideout-cart__wrapper",
        "action":"remove",
        "class":"infront",
        "delay":300
    }
]
{% endcapture %}

<div class="slideout-cart__wrapper" data-change-class='{{ wrapper_change_class }}'>
    <div class="slideout-cart{% if cart.item_count == 0 %} slideout-cart--empty{% endif %}">
        <button
        class="slideout-cart__close close-cross"
        data-change-class='{{ close_button_change_class }}'
        >
        </button>

        <h2 class="slideout-cart__title">{{ 'cart.general.title' | t }}</h2>

        {%- if cart.item_count > 0 -%}
            <ul class="slideout-cart__list cart-items">
                {%- for item in cart.items -%}
                    {%- render 'cart-item', item: item, product: item.product -%}
                {%- endfor -%}
            </ul>
        {%- endif -%}

        <p class="slideout-cart__empty-text">{{ 'cart.general.empty' | t }}</p>

        <div class="slideout-cart__subtotal flex f-vertical-center f-space-between">
            <h3 class="slideout-cart__subtotal-title">{{ 'cart.general.subtotal' | t }}:</h3>
            <p class="slideouut-cart__subtotal-price" data-cart-total>{{ cart.total_price | money }}</p>
        </div>

        <a href="/checkout" class="slideout-cart__cta btn">{{ 'cart.general.checkout' | t }}</a>
    </div>
</div>
