{% style %}
  #file-not-found-section-{{ section.id }}{
    margin-top:{{ section.settings.margin_top_mob }}px;
    margin-bottom:{{ section.settings.margin_bottom_mob }}px;
  }
  #file-not-found-section-{{ section.id }}{
      padding-left:{{ section.settings.horizontal_padding_mobile }}px;
  }
  @media(min-width:768px){
    #file-not-found-section-{{ section.id }}{
        margin-top:{{ section.settings.margin_top_desktop }}px;
        margin-bottom:{{ section.settings.margin_bottom_desktop }}px;
    }
    #file-not-found-section-{{ section.id }}{
        padding-left:{{ section.settings.horizontal_padding_desktop }}px;
    }
  }
{% endstyle %}

<section class="404-section" id="file-not-found-section-{{ section.id }}">
  <div class="m-container:max-w-[1600px] m-container:mx-auto px-8 md:pl-6 lg:pl-16 md:pr-0">
    <div class="md:grid md:grid-flow-col md:grid-cols-2 md:gap-[95px] md:text-center md:items-center">
      <div class="flex flex-col gap-4 md:py-4 md:max-w-[531px]">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'heading' %}
              <div class="text-[46px] leading-[110%] font-gascogne-serial font-light capitalize text-[#222222] text-center md:text-left">
                {{ block.settings.heading }}
              </div>
            {% when 'text' %}
              <p class="text-[16px] md:text-[14px] text-[#222222] font-light font-shape leading-[150%] text-center md:text-left">
                {{ block.settings.text }}
              </p>

            {% when 'button' %}
              <div class="flex flex-col lg:flex-row gap-4 md:items-start lg:items-center md:gap-3">
                <a
                  class="btn text-[13px] block font-shape font-normal uppercase leading-[16px] border-[1px] rounded-full bg-[#121212] text-[#fff] border-[#000] w-full text-center mt-4 py-[11px] max-w-[247px] mx-auto md:inline-block md:mx-0"
                  href="{{ block.settings.button_url }}"
                >
                  {{- block.settings.button_text -}}
                </a>
                <a
                  class="btn font-shape text-[13px] leading-[12px] uppercase font-normal block underline underline-offset-4 w-full text-center text-[#222222] md:inline-block md:w-auto md:mt-4"
                  href="{{ block.settings.back_url }}"
                >
                  {{- block.settings.button_back -}}
                </a>
              </div>
          {% endcase %}
        {% endfor %}
      </div>
      <div class="hidden md:!block">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'banner' %}
              <picture>
                <img
                  srcset="
                    {%- if block.settings.banner.width >= 375 -%}{{ block.settings.banner | image_url: width: 375 }} 375w,{%- endif -%}
                    {%- if block.settings.banner.width >= 750 -%}{{ block.settings.banner | image_url: width: 750 }} 750w,{%- endif -%}
                    {%- if block.settings.banner.width >= 1100 -%}{{ block.settings.banner | image_url: width: 1100 }} 1100w,{%- endif -%}
                    {%- if block.settings.banner.width >= 1500 -%}{{ block.settings.banner | image_url: width: 1500 }} 1500w,{%- endif -%}
                    {%- if block.settings.banner.width >= 1780 -%}{{ block.settings.banner | image_url: width: 1780 }} 1780w,{%- endif -%}
                    {%- if block.settings.banner.width >= 2000 -%}{{ block.settings.banner | image_url: width: 2000 }} 2000w,{%- endif -%}
                    {%- if block.settings.banner.width >= 3000 -%}{{ block.settings.banner | image_url: width: 3000 }} 3000w,{%- endif -%}
                    {%- if block.settings.banner.width >= 3840 -%}{{ block.settings.banner | image_url: width: 3840 }} 3840w,{%- endif -%}
                    {{ block.settings.banner | image_url }} {{ block.settings.banner.width }}w
                  "
                  sizes="100vw"
                  src="{{ block.settings.banner | image_url: width: 1500 }}"
                  loading="lazy"
                  alt="{{ block.settings.banner.alt | escape }}"
                  width="{{ block.settings.banner.width }}"
                  class="w-full"
                  height="{{ block.settings.banner.width | divided_by: block.settings.banner.aspect_ratio }}"
                >
              </picture>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "404 Page",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "spacing setting"
    },
    {
      "type": "range",
      "id": "margin_top_mob",
      "label": "Margin From Top Mobile",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "label": "Margin From Top Desktop",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mob",
      "label": "Margin From Bottom Mobile",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 48
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "label": "Margin From Bottom Desktop",
      "step": 1,
      "min": 0,
      "max": 100,
      "default": 100
    }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<h1>We're sorry, this page is unavailable</h1>"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Uh-oh! The page you're searching for seems to have taken a stylish detour. Our expert personal shoppers are hot on the trail to bring it back. Meanwhile, explore our dazzling collections. We'll have this gem of an error sorted in no time!"
        }
      ]
    },
    {
      "name": "Button",
      "type": "button",
      "settings": [
        {
          "type": "text",
          "id": "button_text",
          "label": "Shop Button",
          "default": "Shop Jewellery & Watches"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Shop URL"
        },
        {
          "type": "text",
          "id": "button_back",
          "label": "Back button",
          "default": "Back to Homepage"
        },
        {
          "type": "url",
          "id": "back_url",
          "label": "Back URL"
        }
      ]
    },

    {
      "name": "Banner",
      "type": "banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner",
          "label": "Select Banner"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "404 Page",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        },
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}
