{% render 'vite-tag' with '@modules/header-v2.js' %}
{% style %}
  [dir='rtl'] .mega-drop .nav-block li a:after {
    transform-origin: right;
  }
  [dir='rtl'] .checkuser:before {
    transform: scaleX(-1);
    rotate: -45deg;
    left: 5px;
  }
  #shopify-section-go-cart {
    display: none;
  }
  @media (min-width: 1024px) {
    .nested-link:hover + .drop-overlay {
      display: block !important;
    }
  }
  @media (min-width: 1024px) and (max-width: 1070px) {
    #shopify-section-popup .wishlist-wrapper::before {
      right: 28%;
    }
    #shopify-section-popup .cart-wrapper::before {
      right: 17%;
    }
  }
  @media (min-width: 1024px) and (max-width: 1082px) {
    #shopify-section-popup .account-wrapper::before {
      right: 41%;
    }
  }
{% endstyle %}

{% comment %} Loaded page url to set current nav active {% endcomment %}
{% comment %} {% assign full_url = request.path %} {% endcomment %}
{% if template contains 'index'
  or template contains 'collection'
  or template contains 'product'
  or template contains 'cart'
  or template contains '404'
  or template contains 'static-page-v2'
  or template contains 'delivery-v2'
  or template contains 'faq-v2'
  or template contains 'about-us-v2'
  or template contains 'contact-v2'
  or template contains 'our-services-v2'
  or template contains 'careers-v2'
  or template contains 'search'
%}
  <sticky-header data-id="{{ section.id }}" hide-threshold="400" class="group lg:block">
    {% comment %} navigation drop box overlay{% endcomment %}
    <span
      class="fixed top-0 left-0 w-full h-full bg-[rgba(0,0,0,.3)] hidden group-[.nav-toggle]:block z-[-1]"
      data-role="nav-toggle"
    ></span>

    {% comment %} HEADER  {% endcomment %}
    <header
      header
      class="transition-all group bg-white {% if template contains 'index' %} {% else %}is-sticky{% endif %}"
    >
      {% comment %} Desktop logo {% endcomment %}
      <div class="bg-white z-[100] relative">
        <div class="relative">
          <div
            class="hidden lg:flex lg:relative lg:items-center lg:justify-between self-center md:justify-center px-10 py-[27px] bg-white"
            desk-logo
          >
            {% if page.type == 'index' %}<h1>{% endif %}
            <a href="{{shop.url | append: request.locale.root_url }}">
              {% if section.settings.header_logo_type == 'svg' %}
                {% if section.settings.header_logo_svg_desktop != blank %}
                  <span class="hidden lg:block">{{ section.settings.header_logo_svg_desktop }}</span>
                {% else %}
                  <h1 class="hidden lg:block">{% render 'icon-v2', icon: 'icon-desktop-logo' %}</h1>
                {% endif %}
              {% else %}
                {% if section.settings.header_logo_desktop != blank %}
                  <picture>
                    <source
                      media="(max-width:1024px)"
                      srcset="{{ section.settings.header_logo_desktop | image_url: width: 0 }}"
                    >
                    <img src="{{ section.settings.header_logo_mobile | image_url: width: 200 }}" preload="true">
                  </picture>
                {% else %}
                  <h1 class="text-xl font-semibold">{{ store.name }}</h1>
                {% endif %}
              {% endif %}
            </a>
            {% if page.type == 'index' %}</h1>{% endif %}
            {% render 'search-input-desktop-v2', class="hidden lg:block" %}
            <div
              data-role="icons"
              class="
                hidden lg:grid grid-cols-2 col-auto col-end-8 md:col-span-3  md:grid-cols-4 lg:grid-cols-3 lg:col-span-2 xl:col-span-2
                md:col-end-13 lg:col-end-13 xl:col-end-13 2xl:col-end-13 gap-4 md:gap-5 row-start-1 items-center
              "
            >
              <button
                class="hidden lg:block ml-auto mr-auto group-[.nav-toggle]:opacity-0 group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:pointer-events-none group-[.nav-toggle]:md:pointer-events-auto relative md:before:content-[''] md:before:absolute md:before:z-[103] md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:duration-100 md:before:hidden [&.show]:before:block [&.show]:before:opacity-100 md:before:border-b-[0px] md:before:border-r-[0px]"
                data-action="accountLogin"
              >
                {% render 'icon-v2', icon: 'icon-account', class: 'lg:w-6 lg:h-6' %}
                {% if customer %}
                  <a href="{{ routes.account_url }}" class="absolute top-0 left-0 w-full h-full hidden lg:block"></a>
                {% else %}
                  <a
                    href="https://threadsstyling.eu.auth0.com/authorize?response_type=code&client_id=YPbzCh7UJkaGDCZ92taoSyzwCunGU07E&scope=SCOPE&state=STATE"
                    class="absolute top-0 left-0 w-full h-full hidden lg:block"
                  ></a>
                {% endif %}
              </button>
              <a
                href="#hero-wishlist"
                class="flex lg:flex rtl:ml-0  md:ml-auto rtl:md:mr-auto mr-auto group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:md:pointer-events-auto relative group/btn  md:before:content-[''] md:before:absolute md:before:z-[103] md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:transition-all md:before:duration-100 before:hidden [&.show]:before:block [&.show]:before:opacity-100  md:before:border-b-[0px] md:before:border-r-[0px]"
                data-action="wishlist"
              >
                {% render 'icon-v2', icon: 'icon-heart', classAttr: 'block group-[.active]/btn:hidden w-6 h-6' %}
                {% render 'icon-v2' with 'icon-heart-fill',
                  classAttr: 'w-5 h-[21px] hidden group-[.active]/btn:block'
                %}
                <span
                  data-role="wishlist-count"
                  class="font-shape wishlist-hero-items-count wishlist-hero-items-count-text bg-[#000] text-[#fff] aspect-1 rounded-full absolute top-[-4px] right-[-15px] w-5 h-5 text-[10px] leading-[20px] text-center hidden"
                  >(1)</span
                >
              </a>
              <button
                class="flex gap-[6px] relative ml-[-5px] rtl:ml-0 rtl:mr-[-5px] md:ml-auto rtl:md:mr-auto mr-auto  group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:md:pointer-events-auto  md:before:content-[''] md:before:z-[103] md:before:absolute md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:transition-all md:before:duration-100 before:hidden [&.show]:before:block  [&.show]:before:opacity-100  md:before:border-b-[0px] md:before:border-r-[0px]"
                data-role="mini-cart-toggle"
              >
                {% render 'icon-v2', icon: 'icon-shoppingBag', class: 'h-6 w-6' %}
                <span
                  class="text-[10px] rounded-full h-5 w-5 translate-x-2 translate-y-[-21%] absolute top-[0px] right-[0px] bg-[#000] text-[#fff] font-shape flex justify-center items-center leading-[0px] {% if cart.item_count == 0 %} hidden {% endif %}"
                  data-role="cart-count"
                >
                  {{- cart.item_count -}}
                </span>
              </button>
            </div>
          </div>
          <div
            data-role="navigation"
            class="grid grid-cols-6 px-5 lg:px-[65px] py-[13px] md:pt-[0.95rem] lg:py-0 bg-white lg:border-y-[1px] lg:border-y-[#D5D5D5] lg:border-t-[0px]"
          >
            <button
              data-role="nav-toggle"
              class="block lg:hidden group-[.nav-toggle]:row-start-1 col-start-1 relative md:col-start-1 row-start-1"
            >
              <span class="opacity-100 group-[.nav-toggle]:opacity-0 transition-opacity duration-300">
                {% render 'icon-v2',
                  icon: 'icon-hamburger',
                  classAttr: 'group-[.nav-toggle]:opacity-0 transition-opacity duration-300'
                -%}
              </span>
              <span class="opacity-0 w-full py-[10px] group-[.nav-toggle]:opacity-100 font-shop absolute top-[50%] left-[50%] md:left-0 rtl:md:left-[static] rtl:md:right-0 translate-x-[-50%] md:translate-x-[0%] translate-y-[-50%]">
                {% render 'icon-v2', icon: 'icon-close-header' %}
              </span>
            </button>
            {% comment %} Logo for mobile and tablet {% endcomment %}
            <div class="flex lg:hidden col-span-5 row-start-1 col-start-2 justify-center gap-6">
              <a href="{{shop.url | append: request.locale.root_url }}">
                {% if section.settings.header_logo_type == 'svg' %}
                  {% if section.settings.header_logo_svg_mobile != blank %}
                    <span class="lg:hidden">{{ section.settings.header_logo_svg_mobile }}</span>
                  {% else %}
                    <h1 class="text-xl font-semibold">{% render 'icon-v2', icon: 'icon-mobile-logo' %}</h1>
                  {% endif %}
                {% else %}
                  {% if section.settings.header_logo_desktop != blank %}
                    <picture>
                      <source
                        media="(min-width:1024px)"
                        srcset="{{ section.settings.header_logo_desktop | image_url: width: 0 }}"
                      >
                      <img src="{{ section.settings.header_logo_mobile | image_url: width: 100 }}" preload="true">
                    </picture>
                  {% else %}
                    <h1 class="text-xl font-semibold">{{ store.name }}</h1>
                  {% endif %}
                {% endif %}
              </a>
            </div>
            {% comment %} navigation {% endcomment %}
            <nav class="fixed lg:relative transition-transform lg:transition-none lg:col-span-12 bg-white h-[calc(100vh-50px)] overflow-y-auto md:h-[calc(100vh-80px)] lg:h-[unset] max-w-[100vw] md:max-w-[38vw] lg:max-w-[unset] lg:max-w[100vw] w-full top-[60px] max-h-[calc(100%_-_50px)] lg:max-h-[unset] md:top-[90px] lg:top-0 left-0 rtl:left-[initial] rtl:right-0 translate-x-[-200%] rtl:translate-x-[200%] md:translate-x-[-240%] rtl:md:translate-x-[240%] lg:transform-none rtl:lg:transform-none group-[.nav-toggle]:translate-x-0 lg:px-0 border-b-[#D5D5D5] border-t-[1px] md:border-t-[0px]">
              <ul class="flex flex-col lg:flex-row md:bg-white md:h-max overflow-auto lg:justify-center">
                <li class="relative lg:hidden font-shape text-[14px] font-light leading-[21px] bg-[#F6F3EC] border-b-[0.5px] border-b-[#D5D5D5] py-3 px-5">
                  {% if customer %}
                    Welcome {{ customer.first_name }}
                    <a
                      href="{{ routes.account_url }}"
                      class="absolute top-0 left-0 w-full h-full"
                    ></a>
                  {% else %}
                    Sign In / Sign Up
                    <a
                      href="https://threadsstyling.eu.auth0.com/authorize?response_type=code&client_id=YPbzCh7UJkaGDCZ92taoSyzwCunGU07E&scope=SCOPE&state=STATE"
                      class="absolute top-0 left-0 w-full h-full"
                    ></a>
                  {% endif %}
                </li>
                {% assign highlight_link = section.settings.highlight_link | downcase %}
                {% for link in section.settings.link_list.links %}
                  {% liquid
                    assign nesting = false
                    for value in shop.metaobjects.nested_navigation['nested-navigation'].nested_navigation.value
                      assign objParentNav = value.parent_navigation_handle
                      if objParentNav == link.handle
                        assign nesting = true
                      endif
                    endfor
                  %}
                  <li
                    class="group/nav {% if nesting -%} peer/nested nested-nav {% endif %} nested-link {% if full_url == link.url or active == true %}is-active{% endif %} mx-5 lg:mx-0 lg:pr-6 rtl:lg:pr-0 rtl:lg:pl-3 xl:pr-[1.7rem] rtl:xl:pr-0 rtl:xl:pl-[1.7rem] border-b-[#D5D5D5] border-b-[1px] lg:border-b-[0px]"
                  >
                    {% if nesting -%}
                      <p
                        class="flex lg:hidden justify-between items-center cursor-pointer group-[.is-active]/nav:lg:bg-[transparent]  py-6"
                        data-role="nested-toggle"
                      >
                        <span
                          class="text-[12px] font-shape font-normal md:text-[14px] uppercase"
                          {% if link_title == highlight_link %}
                            style="color:{{ section.settings.highlight_color }}"
                          {% endif %}
                        >
                          {{- link.title -}}
                        </span>
                        <span class="block rtl:rotate-180">{% render 'icon-v2', icon: 'icon-caret' %}</span>
                      </p>
                      <a
                        href="{{ link.url }}"
                        class="hidden  lg:flex text-[12px] font-shape font-normal md:text-[14px] lg:text-[11px] xl:text-[12px] xl:tracking-[0.5px] lg:px-0 lg:pt-5 lg:pb-4 justify-between uppercase group-[.is-active]/nav:md:bg-[#f0f0f0] group-[.is-active]/nav:lg:bg-[transparent] lg:relative after:content-[''] after:lg:absolute after:lg:w-full after:lg:h-[2px] after:lg:bottom-0 after:lg:block after:lg:bg-[#000000] after:lg:scale-0 after:transition-transform after:origin-center hover:after:scale-100 after:duration-300 py-[13px]"
                        {% if link_title == highlight_link %}
                          style="color:{{ section.settings.highlight_color }}"
                        {% endif %}
                      >
                        {{- link.title -}}
                        <span class="rotate-90 hidden group-hover/nav:rotate-[-90deg] transition-transform">
                          {%- render 'icon-v2', icon: 'icon-caret' -%}
                        </span>
                      </a>
                      {% render 'mega-drop-v2', parent_nav: link.handle, link: link %}
                    {%- else %}
                      <a
                        href="{{ link.url }}"
                        class="text-[12px] font-shape font-normal md:text-[14px] lg:text-[11px] xl:text-[12px] lg:pt-5 lg:pb-4 flex justify-between uppercase group-[.is-active]/nav:md:bg-[#f0f0f0] group-[.is-active]/nav:lg:bg-[transparent] lg:relative after:content-[''] after:lg:absolute after:lg:w-full after:lg:h-[2px] after:lg:bottom-0 after:lg:block after:lg:bg-[#000000] after:lg:scale-0 after:transition-transform after:origin-center hover:after:scale-100 after:duration-300 py-6"
                        {% if link_title == highlight_link %}
                          style="color:{{ section.settings.highlight_color }}"
                        {% endif %}
                      >
                        {{- link.title -}}
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
                {% comment %}overlay and white bg for desktop{% endcomment %}
                <span
                  class="mega-bg bg-white fixed lg:left-0 lg:w-full lg:min-h-[479px] lg:z-[-2] hidden lg:peer-hover/nested:block"
                ></span>
                <span
                  class="drop-overlay fixed left-0 w-full h-[100vh] mt-[2.3rem] bg-[rgba(0,0,0,.3)] hidden z-[-3] lg:peer-hover/nested:block"
                ></span>
                {% comment %} end overlay and white bg for desktop{% endcomment %}
              </ul>
              {% comment %} Mobile icons {% endcomment %}

              <div class="mt-4 px-5 mb-6 lg:hidden">
                {% assign linkLs = section.settings.bottom_nav %}
                <ul>
                  {% for link in linkLs.links %}
                    <li class="py-3 font-shape text-[#4B5259] text-[14px] leading-[21px] font-light">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% if section.settings.language_selector %}
                <div class="bg-[#F8F8F8] px-5 lg:hidden">
                  <button class="flex justify-between px-5 py-6 w-full">
                    <span class="flex items-center">
                      {% render 'icon-v2', icon: 'icon-flag' %}
                      <span class="text-[12px] font-shape font-normal leading-[16px] uppercase ml-2"
                        >United Kingdom / GBP (£)</span
                      >
                    </span>
                    <span class="block">{% render 'icon-v2', icon: 'icon-caret' %}</span>
                  </button>
                  {% if section.settings.language_selector_text %}
                    <p class="text-[11px] font-shape leading-[17px] pb-3">
                      {{ section.settings.language_selector_text }}
                    </p>
                  {% endif %}
                </div>
              {% endif %}
            </nav>

            {% comment %} Header icons {% endcomment %}
            <div
              data-role="icons"
              class="
                 md:group-[.nested-toggle]:grid grid grid-cols-2 col-auto col-end-8 lg:col-span-2 xl:col-span-2
                lg:col-end-13 xl:col-end-13 2xl:col-end-13 gap-4  row-start-1 items-center
                 lg:max-w-[144px] lg:hidden
              "
            >
              <button
                class="hidden lg:block lg:opacity-0 lg:pointer-events-none group-[.is-sticky]:opacity-100 group-[.is-sticky]:pointer-events-auto transition-opacity ml-[-19px] rtl:ml-0 rtl:mr-[-19px] md:ml-auto rtl:md:mr-auto mr-auto group-[.nav-toggle]:opacity-0 group-[.nav-toggle]:md:opacity-100  group-[.nav-toggle]:!pointer-events-none"
                data-action="search-input"
              >
                {% render 'icon-v2', icon: 'icon-search' %}
              </button>

              <button
                class="hidden lg:block ml-auto mr-auto group-[.nav-toggle]:opacity-0 group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:pointer-events-none group-[.nav-toggle]:md:pointer-events-auto relative md:before:content-[''] md:before:absolute md:before:z-[103] md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:duration-100 md:before:hidden [&.show]:before:block [&.show]:before:opacity-100 md:before:border-b-[0px] md:before:border-r-[0px]"
                data-action="accountLogin"
              >
                {% render 'icon-v2', icon: 'icon-account' %}
                {% if customer %}
                  <a href="{{ routes.account_url }}" class="absolute top-0 left-0 w-full h-full hidden lg:block"></a>
                {% else %}
                  <a
                    href="https://threadsstyling.eu.auth0.com/authorize?response_type=code&client_id=YPbzCh7UJkaGDCZ92taoSyzwCunGU07E&scope=SCOPE&state=STATE"
                    class="absolute top-0 left-0 w-full h-full hidden lg:block"
                  ></a>
                {% endif %}
              </button>
              <a
                href="#hero-wishlist"
                class="flex lg:flex rtl:ml-0  md:ml-auto rtl:md:mr-auto mr-auto group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:md:pointer-events-auto relative group/btn  md:before:content-[''] md:before:absolute md:before:z-[103] md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:transition-all md:before:duration-100 before:hidden [&.show]:before:block [&.show]:before:opacity-100  md:before:border-b-[0px] md:before:border-r-[0px]"
                data-action="wishlist"
              >
                {% render 'icon-v2', icon: 'icon-heart', classAttr: 'block group-[.active]/btn:hidden w-6 h-6' %}
                {% render 'icon-v2' with 'icon-heart-fill',
                  classAttr: 'w-5 h-[21px] hidden group-[.active]/btn:block'
                %}
                <span
                  data-role="wishlist-count"
                  class="wishlist-hero-items-count wishlist-hero-items-count-text font-shape bg-[#000] text-[#fff] aspect-1 rounded-full absolute right-0 bottom-0 w-[20px] h-[20px] text-[10px] translate-x-[50%] translate-y-[-38%] leading-[20px] text-center hidden"
                  >(1)</span
                >
              </a>
              <button
                class="flex gap-[6px] relative ml-[-5px] rtl:ml-0 rtl:mr-[-5px] md:ml-auto rtl:md:mr-auto mr-auto  group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:md:pointer-events-auto  md:before:content-[''] md:before:z-[103] md:before:absolute md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:transition-all md:before:duration-100 before:hidden [&.show]:before:block  [&.show]:before:opacity-100  md:before:border-b-[0px] md:before:border-r-[0px]"
                data-role="mini-cart-toggle"
              >
                {% render 'icon-v2', icon: 'icon-shoppingBag', class: 'h-6 w-6' %}
                <span
                  class=" text-[10px] rounded-full h-5 w-5 translate-x-2 translate-y-[-21%] absolute top-[0px] right-[0px] bg-[#000] text-[#fff] font-shape flex justify-center items-center leading-[0px] {% if cart.item_count == 0 %} hidden {% endif %}"
                  data-role="cart-count"
                >
                  {{- cart.item_count -}}
                </span>
              </button>
            </div>
          </div>
          {% comment %} {% render 'popup' %} {% endcomment %}
        </div>
      </div>
    </header>
  </sticky-header>
{% else %}
  {% style %}
    .wrapper_container {
      /* max-width: 1600px;
      margin: auto; */
    }
    nav.header-navigation_wrapper {
      transition: transform 0.3s ease-in-out;
    }
    .header-wrapper {
      background-color: #fff;
      z-index: 100;
      position: relative;
      overflow: hidden;
    }
    .header-wrapper_container {
      position: relative;
      margin: 0 auto;
    }
    .header-desktop_logo {
      display: none;
    }
    .header-wrapper .hidden {
      display: none;
    }
    .header-navigation_wrapper_mobile {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      padding: 13px 20px;
      background-color: #fff;
    }
    .nav-toggle_btn {
      display: flex;
      grid-column-start: 1;
      position: relative;
      grid-row-start: 1;
      justify-content: flex-start;
      align-items: center;
    }
    .nav-toggle .nav-toggle_btn {
      grid-row-start: 1;
    }
    .nav-toggle_btn_open {
      opacity: 1;
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      transition-duration: 300ms;
    }
    .nav-toggle .nav-toggle_btn_open {
      opacity: 0;
    }
    .nav-toggle_btn_open svg {
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      transition-duration: 300ms;
    }
    .nav-toggle .nav-toggle_btn_open svg {
      opacity: 0;
    }
    .nav-toggle_btn_close {
      opacity: 0;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
    }
    .nav-toggle .nav-toggle_btn_close {
      opacity: 1;
    }
    .header-logo_wrapper_mobile {
      display: flex;
      grid-column: span 5 / span 5;
      grid-row-start: 1;
      grid-column-start: 2;
      justify-content: center;
      gap: 24px;
    }
    .mobile_logo {
      font-size: 23px;
      line-height: 120%;
      font-weight: 600;
    }
    .header-navigation_wrapper {
      position: fixed;
      background-color: #fff;
      height: calc(100vh - 50px);
      max-width: 100vw;
      width: 100%;
      top: 60px;
      max-height: calc(100% - 50px);
      left: 0px;
      overflow-y: auto;
      transform: translateX(-200%);
      border-bottom-color: #d5d5d5;
      border-top-width: 1px;
    }
    .nav-toggle .header-navigation_wrapper {
      transform: translateX(0%);
    }
    .header-icons_wrapper {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-column: auto;
      grid-column-end: 8;
      gap: 16px;
      grid-row-start: 1;
      align-items: center;
    }
    .header-search_button {
      display: none;
      transition-property: opacity;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
      margin-left: -19px;
    }
    .header-account_button {
      display: none;
    }
    .header-wishlist_button {
      display: block;
      position: relative;
    }
    .header-wishlist_button svg:first-of-type {
      display: block;
    }
    .header-wishlist_button::before {
      display: none;
    }
    .show .header-wishlist_button::before {
      display: block;
    }
    .show .header-wishlist_button::before {
      opacity: 1;
    }
    .show .header-cart_button::before {
      display: block;
      opacity: 1;
    }
    .header-cart_button {
      margin-left: -5px;
    }
    .header-cart_button svg {
      width: 24px;
      height: 24px;
    }
    .header-cart_count {
      font-size: 10px;
      font-family: var(--secondary-font);
      border-radius: 1000px;
      height: 20px;
      width: 20px;
      transform: translateX(4px) translateY(-21%);
      position: absolute;
      top: 0px;
      right: 0px;
      background: #000;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 0px;
    }
    .header-navigation_list {
      display: flex;
      flex-direction: column;
    }
    .header-navigation_link {
      border-bottom: solid 1px #d5d5d5;
    }
    .header-navigation_link {
      border-bottom: solid 1px #d5d5d5;
    }
    .header-navigation_link p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      padding: 24px 0px;
    }
    .header-navigation_link .mega-drop_links_title {
      padding: 24px 0px;
    }
    .header-navigation_link span {
      display: flex;
    }
    .header-navigation_link p > .header-navigation_link_title {
      font-size: 12px;
      font-family: var(--secondary-font);
      font-weight: 400;
      text-transform: uppercase;
    }
    .header-navigation_link_icon {
      display: block;
    }
    .header-navigation_link_link {
      font-size: 12px;
      font-family: var(--secondary-font);
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      padding: 24px 0px;
    }
    .header-link_icon {
      display: flex;
      flex-direction: column;
      padding: 14px 20px;
      border-bottom: solid 1px #d8d8d8;
      background-color: #fff;
      color: #000;
    }
    .header-link_icon button {
      display: flex;
      gap: 8px;
      align-items: center;
      position: relative;
    }
    .header-link_icon span {
      color: #000;
    }
    .header-link_icon button svg {
      width: 24px;
      height: 24px;
    }
    .header-link_icon button span {
      font-size: 14px;
      font-family: var(--secondary-font);
      font-weight: 400;
    }
    /* //wishlist icon */
    .wishlist-hero-items-count {
      height: 20px;
      width: 20px;
      position: absolute;
      background: #000;
      border-radius: 50%;
      top: -2px;
      right: -15px;
      color: #fff;
      text-align: center;
      font-family: var(--secondary-font);
      font-size: 12px;
      line-height: 20px;
    }
    .mobile-account_btn {
      padding: 12px 20px;
      font-size: 14px;
      font-weight: 300;
      background-color: #f6f3ec;
      border-bottom: solid 0.5px #d5d5d5;
      font-family: var(--secondary-font);
      line-height: 21px;
    }
    .header-navigation_link {
      margin: 0 20px;
    }
    .header-bottom_nav {
      margin-top: 16px;
      margin-bottom: 24px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .header-bottom_nav li {
      padding: 12px 0px;
      font-family: var(--secondary-font);
      font-size: 14px;
      line-height: 21px;
      font-weight: 300;
    }
    .language-selector_mob {
      padding: 0 20px;
      background-color: #f8f8f8;
    }
    .language-selector_mob span {
      color: #000;
    }
    .language-selector_mob button {
      display: flex;
      justify-content: space-between;
      padding: 24px 20px;
      width: 100%;
    }
    .language-selector_mob button > span {
      display: flex;
      align-items: center;
    }
    .language-selector_mob button > span > span {
      font-family: var(--secondary-font);
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      margin-left: 8px;
    }
    .language-selector_mob p {
      font-size: 11px;
      font-family: var(--secondary-font);
      line-height: 17px;
      padding-bottom: 12px;
    }
    .is-active .mega-drop {
      top: 0px;
    }
    @media (min-width: 768px) {
      .nested-toggle .header-icons_wrapper {
        display: grid;
      }
      .header-search_button {
        margin-left: auto;
      }
      .header-desktop_icons {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;
        align-items: center;
      }
      .header-navigation_wrapper_mobile {
        padding-top: 15px;
      }
      .nav-toggle .header-search_button {
        opacity: 1;
      }
      .nav-toggle .header-account_button {
        pointer-events: auto;
      }
      .header-navigation_wrapper {
        max-width: 38vw;
      }
      .header-account_button::before {
        content: '';
        position: absolute;
        z-index: 103;
        bottom: 0px;
        left: 50%;
        width: 12px;
        height: 12px;
        background-color: #fff;
        transform: translate(-50%, 170%) rotate(-45deg);
        border: solid #d8d8d8 1px;
        opacity: 0;
        transition-duration: 100ms;
        display: none;
        border-bottom: 0px;
        border-right: 0px;
      }
      .header-account_button::before:hover {
        opacity: 1;
      }
      .logoDisplay .header-account_button::before {
        transform: translateY(190%);
      }
      .header-wishlist_button {
        margin-left: auto;
      }
      .nav-toggle .header-wishlist_button {
        opacity: 1;
      }
      .header-wishlist_button::before {
        content: '';
        position: absolute;
        z-index: 103;
        bottom: 0px;
        left: 50%;
        width: 12px;
        height: 12px;
        background-color: #fff;
        transform: translate(-50%, 172%) rotate(45deg);
        border: solid 1px #d8d8d8;
        opacity: 0;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        transition-duration: 100ms;
        display: none;
        border-bottom: 0px;
        border-right: 0px;
      }
      .show.header-wishlist_button::before {
        display: block;
        opacity: 1;
      }
      .header-wishlist_button::before:hover {
        opacity: 1;
      }
      .logoDisplay .header-wishlist_button::before {
        transform: translateY(190%);
      }
      .header-cart_button {
        margin-left: auto;
      }
      .nav-toggle .header-cart_button {
        pointer-events: auto;
      }
      .header-cart_button::before {
        content: '';
        z-index: 103;
        position: absolute;
        bottom: 0px;
        left: 50%;
        width: 12px;
        height: 12px;
        background-color: #fff;
        transform: translate(-50%, 172%) rotate(45deg);
        border: solid 1px #d8d8d8;
        opacity: 0;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 100ms;
        display: none;
        border-bottom: 0px;
        border-right: 0px;
      }
      .show.header-cart_button::before {
        display: block;
        opacity: 1;
      }
      .header-cart_button::before:hover {
        opacity: 1;
      }
      .logoDisplay .header-cart_button::before {
        transform: translateY(190%);
      }
    }
    @media (min-width: 1024px) {
      .header-desktop_logo {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 27px 40px;
        position: relative;
      }
      .header-desktop_icons {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      .header-desktop_logo_icon {
        display: block !important;
      }
      .header-cart_count {
        transform: translateX(10px) translateY(-21%);
      }
      .change-language {
        display: block;
        position: absolute;
        left: 65px;
      }
      .search-input_desktop {
        display: block;
      }
      .header-desktop_icons {
        display: grid !important;
        grid-column: span 2 / span 2;
        grid-column-end: 13;
      }
      .header-desk_accountBtn {
        display: block !important;
      }
      .header-desk_accountBtn svg {
        width: 24px;
        height: 24px;
      }
      .header-desk_accountBtn a {
        display: block;
      }
      .header-desk_wishlistBtn {
        display: block;
      }
      .header-desk_wishlistBtn::before {
        transform: translateY(185%);
      }
      .header-navigation_wrapper_mobile {
        padding-left: 65px;
        padding-right: 65px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-top-width: 0px;
        border-bottom-width: 1px;
        border-color: #d5d5d5;
        border-style: solid;
        border-left: none;
        border-right: none;
      }
      .nav-toggle_btn {
        display: none;
      }
      .header-logo_wrapper_mobile {
        display: none;
      }
      .header-navigation_wrapper {
        position: relative;
        grid-column: span 12 / span 12;
        height: unset;
        max-width: 100vw;
        max-height: unset;
        top: 0px;
        transform: none;
        padding-left: 0px;
        padding-right: 0px;
      }
      .header-navigation_list {
        flex-direction: row;
        padding-top: 0px;
        justify-content: center;
      }
      .header-navigation_link {
        padding-right: 24px;
        border-bottom: 0px;
        margin: 0px;
      }
      .header-navigation_link p {
        display: none;
      }
      .header-navigation_link {
        font-size: 12px;
        position: relative;
      }
      .is-active .header-navigation_link {
        background-color: transparent;
      }
      .header-navigation_link::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: 0px;
        display: block;
        background-color: #000;
        transform: scale(0);
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
        transform-origin: center;
        transition-duration: 300ms;
      }
      .header-navigation_link::after:hover {
        transform: scale(100%);
      }
      .header-navigation_link_link {
        font-size: 11px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 20px;
        padding-bottom: 16px;
        position: relative;
      }
      .header-navigation_link_link::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0px;
        display: block;
        background-color: #000;
        transform: scale(0);
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
      }
      .is-active .header-navigation_link_link {
        background-color: transparent;
      }
      .change-language {
        display: none;
      }
      .mega-bg,
      .drop-overlay {
        left: 0px;
        width: 100%;
        min-height: 479px;
        z-index: -2;
        position: fixed;
        left: 0px;
      }
      .drop-overlay {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
      .nested-nav .mega-bg {
        display: block;
      }
      .nested-nav .drop-overlay {
        display: block;
      }
      .header-icons_wrapper,
      .header-link_icon {
        display: none;
      }
      .header-navigation_link_link {
        display: flex !important;
      }
      .language-selector_mob,
      .mobile-account_btn,
      .header-bottom_nav {
        display: none;
      }
    }
  {% endstyle %}
  <sticky-header data-id="{{ section.id }}" hide-threshold="400" class="sticky-header_wrapper">
    <header header>
      <div class="bg-white z-[100] relative header-wrapper">
        <div class=" m-auto relative header-wrapper_container wrapper_container">
          <div
            class="header-desktop_logo hidden lg:flex lg:relative lg:items-center lg:justify-between self-center md:justify-center px-6 py-[27px] bg-white"
            desk-logo
          >
            {% if page.type == 'index' %}<h1>{% endif %}
            <a href="{{shop.url | append: request.locale.root_url }}">
              {% if section.settings.header_logo_type == 'svg' %}
                {% if section.settings.header_logo_svg_desktop != blank %}
                  <span class="hidden lg:block header-desktop_logo_icon">
                    {{- section.settings.header_logo_svg_desktop -}}
                  </span>
                {% else %}
                  <h1 class="hidden lg:block header-desktop_logo_icon">
                    {% render 'icon-v2', icon: 'icon-desktop-logo' %}
                  </h1>
                {% endif %}
              {% else %}
                {% if section.settings.header_logo_desktop != blank %}
                  <picture>
                    <source
                      media="(max-width:1024px)"
                      srcset="{{ section.settings.header_logo_desktop | image_url: width: 0 }}"
                    >
                    <img src="{{ section.settings.header_logo_mobile | image_url: width: 200 }}" preload="true">
                  </picture>
                {% else %}
                  <h1 class="text-xl font-semibold">{{ store.name }}</h1>
                {% endif %}
              {% endif %}
            </a>
            {% if page.type == 'index' %}</h1>{% endif %}
            {% render 'search-input-desktop-v2', class="search-input_desktop" %}
            <div
              data-role="icons"
              class="
                header-desktop_icons hidden lg:grid grid-cols-2 col-auto col-end-8 md:col-span-3  md:grid-cols-4 lg:grid-cols-3 lg:col-span-2 xl:col-span-2
                md:col-end-13 lg:col-end-13 xl:col-end-13 2xl:col-end-13 gap-4 md:gap-5 row-start-1 items-center
              "
            >
              <button
                class="header-desk_accountBtn hidden lg:block ml-auto mr-auto group-[.nav-toggle]:opacity-0 group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:pointer-events-none group-[.nav-toggle]:md:pointer-events-auto relative md:before:content-[''] md:before:absolute md:before:z-[103] md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:duration-100 md:before:hidden [&.show]:before:block [&.show]:before:opacity-100 md:before:border-b-[0px] md:before:border-r-[0px]"
                data-action="accountLogin"
              >
                {% render 'icon-v2', icon: 'icon-account', class: 'lg:w-6 lg:h-6' %}
                {% if customer %}
                  <a
                    style="position:absolute;top:0px;left:0px;width:100%;height:100%;display:block;"
                    href="{{ routes.account_url }}"
                    class="absolute top-0 left-0 w-full h-full hidden lg:block"
                  ></a>
                {% else %}
                  <a
                    style="position:absolute;top:0px;left:0px;width:100%;height:100%;display:block;"
                    href="https://threadsstyling.eu.auth0.com/authorize?response_type=code&client_id=YPbzCh7UJkaGDCZ92taoSyzwCunGU07E&scope=SCOPE&state=STATE"
                    class="absolute top-0 left-0 w-full h-full hidden lg:block"
                  ></a>
                {% endif %}
              </button>
              <a
                href="#hero-wishlist"
                class="header-desk_wishlistBtn block lg:block rtl:ml-0  md:ml-auto rtl:md:mr-auto mr-auto group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:md:pointer-events-auto relative group/btn  md:before:content-[''] md:before:absolute md:before:z-[103] md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:transition-all md:before:duration-100 before:hidden [&.show]:before:block [&.show]:before:opacity-100  md:before:border-b-[0px] md:before:border-r-[0px]"
                data-action="wishlist"
              >
                {% render 'icon-v2', icon: 'icon-heart', classAttr: 'block group-[.active]/btn:hidden w-6 h-6' %}
                {% render 'icon-v2' with 'icon-heart-fill',
                  classAttr: 'w-5 h-[21px] hidden group-[.active]/btn:block'
                %}
                <span
                  data-role="wishlist-count"
                  class="wishlist-hero-items-count wishlist-hero-items-count-text font-shape bg-[#000] text-[#fff] aspect-1 rounded-full absolute right-0 bottom-0 w-[16px] text-[10px] translate-x-[50%] translate-y-[50%] leading-[20px] text-center hidden"
                  >(1)</span
                >
              </a>
              <button
                class="flex gap-[6px] relative ml-[-5px] rtl:ml-0 rtl:mr-[-5px] md:ml-auto rtl:md:mr-auto mr-auto  group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:md:pointer-events-auto  md:before:content-[''] md:before:z-[103] md:before:absolute md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:transition-all md:before:duration-100 before:hidden [&.show]:before:block  [&.show]:before:opacity-100  md:before:border-b-[0px] md:before:border-r-[0px]"
                data-role="mini-cart-toggle"
              >
                {% render 'icon-v2', icon: 'icon-shoppingBag', class: 'h-6 w-6' %}
                <span
                  class="text-[10px] header-cart_count rounded-full h-5 w-5 translate-x-2 translate-y-[-21%] absolute top-[0px] right-[0px] bg-[#000] text-[#fff] font-shape flex justify-center items-center leading-[0px] {% if cart.item_count == 0 %} hidden {% endif %}"
                  data-role="cart-count"
                >
                  {{- cart.item_count -}}
                </span>
              </button>
            </div>
          </div>
          <div
            data-role="navigation"
            class="header-navigation_wrapper_mobile grid grid-cols-6 px-5 lg:px-[65px] py-[13px] md:pt-[0.95rem] lg:py-0 bg-white lg:border-y-[1px] lg:border-y-[#D5D5D5] lg:border-t-[0px]"
          >
            <button
              data-role="nav-toggle"
              class="nav-toggle_btn block lg:hidden group-[.nav-toggle]:row-start-1 col-start-1 relative md:col-start-1 row-start-1"
            >
              <span class="nav-toggle_btn_open opacity-100 group-[.nav-toggle]:opacity-0 transition-opacity duration-300">
                {% render 'icon-v2',
                  icon: 'icon-hamburger',
                  classAttr: 'group-[.nav-toggle]:opacity-0 transition-opacity duration-300'
                -%}
              </span>
              <span class="nav-toggle_btn_close opacity-0 w-full py-[10px] group-[.nav-toggle]:opacity-100 font-shop absolute top-[50%] left-[50%] md:left-0 rtl:md:left-[static] rtl:md:right-0 translate-x-[-50%] md:translate-x-[0%] translate-y-[-50%]">
                {% render 'icon-v2', icon: 'icon-close-header' %}
              </span>
            </button>
            {% comment %} Logo for mobile and tablet {% endcomment %}
            <div class="header-logo_wrapper_mobile flex lg:hidden col-span-5 row-start-1 col-start-2 justify-center gap-6">
              <a href="{{shop.url | append: request.locale.root_url }}">
                {% if section.settings.header_logo_type == 'svg' %}
                  {% if section.settings.header_logo_svg_mobile != blank %}
                    <span class="lg:hidden">{{ section.settings.header_logo_svg_mobile }}</span>
                  {% else %}
                    <h1 class="mobile_logo text-xl font-semibold">{% render 'icon-v2', icon: 'icon-mobile-logo' %}</h1>
                  {% endif %}
                {% else %}
                  {% if section.settings.header_logo_desktop != blank %}
                    <picture>
                      <source
                        media="(min-width:1024px)"
                        srcset="{{ section.settings.header_logo_desktop | image_url: width: 0 }}"
                      >
                      <img src="{{ section.settings.header_logo_mobile | image_url: width: 100 }}" preload="true">
                    </picture>
                  {% else %}
                    <h1 class="text-xl font-semibold">{{ store.name }}</h1>
                  {% endif %}
                {% endif %}
              </a>
            </div>
            {% comment %} navigation {% endcomment %}
            <nav class="header-navigation_wrapper fixed lg:relative lg:col-span-12 bg-white h-[calc(100vh-50px)] md:h-[calc(100vh-80px)] lg:h-[unset] max-w-[100vw] md:max-w-[38vw] lg:max-w-[unset] lg:max-w[100vw] w-full top-[60px] max-h-[calc(100%_-_50px)] lg:max-h-[unset] md:top-[90px] lg:top-0 left-0 rtl:left-[initial] rtl:right-0 translate-x-[-200%] rtl:translate-x-[200%] md:translate-x-[-240%] rtl:md:translate-x-[240%] lg:transform-none rtl:lg:transform-none group-[.nav-toggle]:translate-x-0 lg:px-0 border-b-[#D5D5D5] border-t-[1px] md:border-t-[0px]">
              <ul class="header-navigation_list flex flex-col lg:flex-row md:bg-white md:h-full overflow-auto pt-[30px] lg:pt-0 lg:justify-center">
                <li class="mobile-account_btn relative lg:hidden font-shape text-[14px] font-light leading-[21px] bg-[#F6F3EC] border-b-[0.5px] border-b-[#D5D5D5] py-3 px-5">
                  {% if customer %}
                    Welcome {{ customer.first_name }}
                    <a
                      href="{{ routes.account_url }}"
                      class="absolute top-0 left-0 w-full h-full"
                    ></a>
                  {% else %}
                    Sign In / Sign Up
                    <a
                      href="https://threadsstyling.eu.auth0.com/authorize?response_type=code&client_id=YPbzCh7UJkaGDCZ92taoSyzwCunGU07E&scope=SCOPE&state=STATE"
                      class="absolute top-0 left-0 w-full h-full"
                    ></a>
                  {% endif %}
                </li>
                {% assign highlight_link = section.settings.highlight_link | downcase %}
                {% for link in section.settings.link_list.links %}
                  {% liquid
                    assign nesting = false
                    for value in shop.metaobjects.nested_navigation['nested-navigation'].nested_navigation.value
                      assign objParentNav = value.parent_navigation_handle
                      if objParentNav == link.handle
                        assign nesting = true
                      endif
                    endfor
                  %}
                  <li
                    class="group/nav header-navigation_link {% if nesting -%} peer/nested nested {% endif %} nested-link {% if full_url == link.url or active == true %}is-active{% endif %} lg:pr-6 rtl:lg:pr-0 rtl:lg:pl-3 xl:pr-[1.7rem] rtl:xl:pr-0 rtl:xl:pl-[1.7rem] border-b-[#D5D5D5] border-b-[1px] lg:border-b-[0px]"
                  >
                    {% if nesting -%}
                      <p
                        class="flex lg:hidden justify-between items-center cursor-pointer group-[.is-active]/nav:md:bg-[#f0f0f0] group-[.is-active]/nav:lg:bg-[transparent] px-5 py-[13px]"
                        data-role="nested-toggle"
                      >
                        <span
                          class="header-navigation_link_title text-[14px] font-shape font-normal md:text-[14px] uppercase"
                          {% if link_title == highlight_link %}
                            style="color:{{ section.settings.highlight_color }}"
                          {% endif %}
                        >
                          {{- link.title -}}
                        </span>
                        <span class="header-navigation_link_icon block rtl:rotate-180">
                          {%- render 'icon-v2', icon: 'icon-caret' -%}
                        </span>
                      </p>
                      <a
                        href="{{ link.url }}"
                        class="hidden header-navigation_link_link  lg:flex text-[14px] font-shape font-normal md:text-[14px] lg:text-[11px] xl:text-[12px] xl:tracking-[0.5px] px-5 lg:px-0 lg:pt-5 lg:pb-4 justify-between uppercase group-[.is-active]/nav:md:bg-[#f0f0f0] group-[.is-active]/nav:lg:bg-[transparent] lg:relative after:content-[''] after:lg:absolute after:lg:w-full after:lg:h-[2px] after:lg:bottom-0 after:lg:block after:lg:bg-[#000000] after:lg:scale-0 after:transition-transform after:origin-center hover:after:scale-100 after:duration-300 px-5 py-[13px]"
                        {% if link_title == highlight_link %}
                          style="color:{{ section.settings.highlight_color }}"
                        {% endif %}
                      >
                        {{- link.title -}}
                        <span class="rotate-90 hidden group-hover/nav:rotate-[-90deg] transition-transform">
                          {%- render 'icon-v2', icon: 'icon-caret' -%}
                        </span>
                      </a>
                      {% render 'mega-drop-v2', parent_nav: link.handle, link: link %}
                    {%- else %}
                      <a
                        href="{{ link.url }}"
                        class="text-[14px] header-navigation_link_link font-shape font-normal md:text-[14px] lg:text-[11px] xl:text-[12px] lg:px-0 lg:pt-5 lg:pb-4 flex justify-between uppercase group-[.is-active]/nav:md:bg-[#f0f0f0] group-[.is-active]/nav:lg:bg-[transparent] lg:relative after:content-[''] after:lg:absolute after:lg:w-full after:lg:h-[2px] after:lg:bottom-0 after:lg:block after:lg:bg-[#000000] after:lg:scale-0 after:transition-transform after:origin-center hover:after:scale-100 after:duration-300 px-5 py-[13px]"
                        {% if link_title == highlight_link %}
                          style="color:{{ section.settings.highlight_color }}"
                        {% endif %}
                      >
                        {{- link.title -}}
                      </a>
                    {% endif %}
                  </li>
                {% endfor %}
                {% comment %}overlay and white bg for desktop{% endcomment %}
                <span
                  class="mega-bg bg-white fixed lg:left-0 lg:w-full lg:min-h-[479px] lg:z-[-2] hidden lg:peer-hover/nested:block"
                ></span>
                <span
                  class="drop-overlay fixed left-0 w-full h-[100vh] mt-[2.3rem] bg-[rgba(0,0,0,.3)] hidden z-[-3] lg:peer-hover/nested:block"
                ></span>
                {% comment %} end overlay and white bg for desktop{% endcomment %}
              </ul>
              {% comment %} Mobile icons {% endcomment %}

              <div class="header-bottom_nav mt-4 px-5 mb-6 lg:hidden">
                {% assign linkLs = section.settings.bottom_nav %}
                <ul>
                  {% for link in linkLs.links %}
                    <li class="py-3 font-shape text-[#4B5259] text-[14px] leading-[21px] font-light">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              {% if section.settings.language_selector %}
                <div class="language-selector_mob bg-[#F8F8F8] px-5 lg:hidden">
                  <button class="flex justify-between px-5 py-6 w-full">
                    <span class="flex items-center">
                      {% render 'icon-v2', icon: 'icon-flag' %}
                      <span class="text-[12px] font-shape font-normal leading-[16px] uppercase ml-2"
                        >United Kingdom / GBP (£)</span
                      >
                    </span>
                    <span class="block">{% render 'icon-v2', icon: 'icon-caret' %}</span>
                  </button>
                  {% if section.settings.language_selector_text %}
                    <p class="text-[11px] font-shape leading-[17px] pb-3">
                      {{ section.settings.language_selector_text }}
                    </p>
                  {% endif %}
                </div>
              {% endif %}
            </nav>

            {% comment %} Header icons {% endcomment %}
            <div
              data-role="icons"
              class="
                header-icons_wrapper md:group-[.nested-toggle]:grid grid grid-cols-2 col-auto col-end-8 lg:col-span-2 lg:grid-cols-3 xl:col-span-2
                lg:col-end-13 xl:col-end-13 2xl:col-end-13 gap-4  row-start-1 items-center
                 lg:max-w-[144px] lg:hidden
              "
            >
              <button
                class="hidden header-search_button lg:block lg:opacity-0 lg:pointer-events-none group-[.is-sticky]:opacity-100 group-[.is-sticky]:pointer-events-auto transition-opacity ml-[-19px] rtl:ml-0 rtl:mr-[-19px] md:ml-auto rtl:md:mr-auto mr-auto group-[.nav-toggle]:opacity-0 group-[.nav-toggle]:md:opacity-100  group-[.nav-toggle]:!pointer-events-none"
                data-action="search-input"
              >
                {% render 'icon-v2', icon: 'icon-search' %}
              </button>

              <button
                class="hidden header-account_button lg:block ml-auto mr-auto group-[.nav-toggle]:opacity-0 group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:pointer-events-none group-[.nav-toggle]:md:pointer-events-auto relative md:before:content-[''] md:before:absolute md:before:z-[103] md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:duration-100 md:before:hidden [&.show]:before:block [&.show]:before:opacity-100 md:before:border-b-[0px] md:before:border-r-[0px]"
                data-action="accountLogin"
              >
                {% render 'icon-v2', icon: 'icon-account' %}
                {% if customer %}
                  <a
                    style="position:absolute;top:0px;left:0px;width:100%;height:100%;display:block;"
                    href="{{ routes.account_url }}"
                    class="absolute top-0 left-0 w-full h-full hidden lg:block"
                  ></a>
                {% else %}
                  <a
                    style="position:absolute;top:0px;left:0px;width:100%;height:100%;display:block;"
                    href="https://threadsstyling.eu.auth0.com/authorize?response_type=code&client_id=YPbzCh7UJkaGDCZ92taoSyzwCunGU07E&scope=SCOPE&state=STATE"
                    class="absolute top-0 left-0 w-full h-full hidden lg:block"
                  ></a>
                {% endif %}
              </button>
              <a
                href="#hero-wishlist"
                class="flex header-wishlist_button lg:flex rtl:ml-0  md:ml-auto rtl:md:mr-auto mr-auto group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:md:pointer-events-auto relative group/btn  md:before:content-[''] md:before:absolute md:before:z-[103] md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:transition-all md:before:duration-100 before:hidden [&.show]:before:block [&.show]:before:opacity-100  md:before:border-b-[0px] md:before:border-r-[0px]"
                data-action="wishlist"
              >
                {% render 'icon-v2', icon: 'icon-heart', classAttr: 'block group-[.active]/btn:hidden w-6 h-6' %}
                {% render 'icon-v2',
                  icon: 'icon-heart-fill',
                  classAttr: 'w-5 h-[21px] hidden group-[.active]/btn:block'
                %}
                <span
                  data-role="wishlist-count"
                  class="wishlist-hero-items-count font-shape wishlist-hero-items-count-text bg-[#000] header-wishlist_count text-[#fff] aspect-1 rounded-full absolute right-0 bottom-0 w-[16px] text-[10px] translate-x-[50%] translate-y-[50%] leading-[20px] text-center hidden"
                  >(1)</span
                >
              </a>
              <button
                class="flex header-cart_button gap-[6px] relative ml-[-5px] rtl:ml-0 rtl:mr-[-5px] md:ml-auto rtl:md:mr-auto mr-auto  group-[.nav-toggle]:md:opacity-100 group-[.nav-toggle]:md:pointer-events-auto  md:before:content-[''] md:before:z-[103] md:before:absolute md:before:bottom-0 md:before:left-[50%] md:before:w-3 md:before:h-3 md:before:bg-[#fff] md:before:translate-x-[-50%] md:group-[.logoDisplay]/showLogo:before:translate-y-[190%] md:before:translate-y-[172%] lg:before:translate-y-[185%] md:before:rotate-45 md:before:border-[#D8D8D8] md:before:border-[1px] md:before:opacity-0 md:hover:before:opacity-100 md:before:transition-all md:before:duration-100 before:hidden [&.show]:before:block  [&.show]:before:opacity-100  md:before:border-b-[0px] md:before:border-r-[0px]"
                data-role="mini-cart-toggle"
              >
                {% render 'icon-v2', icon: 'icon-shoppingBag', class: 'h-6 w-6' %}
                <span
                  class="text-[10px] header-cart_count rounded-full h-5 w-5 translate-x-2 translate-y-[-21%] absolute top-[0px] right-[0px] bg-[#000] text-[#fff] font-shape flex justify-center items-center leading-[0px] {% if cart.item_count == 0 %} hidden {% endif %}"
                  data-role="cart-count"
                >
                  {{- cart.item_count -}}
                </span>
              </button>
            </div>
          </div>
          {% comment %} {% render 'popup' %} {% endcomment %}
        </div>
      </div>
    </header>
  </sticky-header>
{% endif %}

<script>
  document.addEventListener('wishlist-hero-wishlist-sdk-ready', async function (e) {
    await window.WishListHero_SDK.GetWishListHash(true);
    setTimeout(() => {
      Array.from(document.querySelectorAll('.wishlist-hero-items-count-text')).forEach((e) => {
        let s = e.innerHTML.replace('(', '').replace(')', '');
        e.innerHTML = s;
      });
    }, 0);
  });
  document.addEventListener('wishlist-hero-wishlist-updated', (r) => {
    setTimeout(() => {
      Array.from(document.querySelectorAll('.wishlist-hero-items-count-text')).forEach((e) => {
        let s = e.innerHTML.replace('(', '').replace(')', '');
        e.innerHTML = s;
      });
    }, 0);
  });
</script>

{% schema %}
{
  "name": "Header",
  "class": "z-50 sticky top-5",
  "settings": [
    {
      "type": "checkbox",
      "label": "Enable Language Selector",
      "id": "language_selector"
    },
    {
      "type": "textarea",
      "label": "Language Selector Text",
      "id": "language_selector_text",
      "default": "Your order is set to ship to the United Kingdom, and the billing currency is GBP £"
    },
    {
      "type": "select",
      "label": "Header Logo Type",
      "id": "header_logo_type",
      "options": [
        {
          "value": "svg",
          "label": "svg"
        },
        {
          "value": "image",
          "label": "image"
        }
      ]
    },
    {
      "type": "html",
      "label": "Header Logo Svg Mobile",
      "id": "header_logo_svg_mobile"
    },
    {
      "type": "html",
      "label": "Header Logo Svg Desktop",
      "id": "header_logo_svg_desktop"
    },
    {
      "type": "image_picker",
      "label": "Header Logo Mobile",
      "id": "header_logo_mobile"
    },
    {
      "type": "image_picker",
      "label": "Header Logo Desktop",
      "id": "header_logo_desktop"
    },
    {
      "type": "range",
      "label": "Logo desktop width",
      "id": "logo_width_desktop",
      "min": 60,
      "step": 4,
      "max": 400,
      "default": 200
    },
    {
      "type": "range",
      "label": "Logo tablet width",
      "id": "logo_width_tablet",
      "min": 60,
      "step": 4,
      "max": 400,
      "default": 100
    },
    {
      "type": "range",
      "label": "Logo mobile width",
      "id": "logo_width_mobile",
      "min": 60,
      "step": 4,
      "max": 400,
      "default": 100
    },
    {
      "type": "link_list",
      "label": "Choose navigation",
      "id": "link_list"
    },
    {
      "type": "header",
      "content": "Enter the link to highlight"
    },
    {
      "type": "text",
      "label": "Highlight link",
      "id": "highlight_link"
    },
    {
      "type": "color",
      "label": "Choose highlight color",
      "id": "highlight_color"
    },
    {
      "type": "link_list",
      "label": "Choose mobile header bottom navigation",
      "id": "bottom_nav"
    }
  ],
  "blocks": []
}
{% endschema %}
