{%- capture section-border -%}
{% if section.settings.border_top == true -%}border-top{%- endif %}
{% if section.settings.border_bottom == true -%}border-bottom{%- endif %}
{%- endcapture %}

<div class="{{ section.settings.margin_top }} {{ section.settings.margin_bottom }} {{ section.settings.padding_top }} {{ section.settings.padding_bottom }} {{ section-border }} image-with-text-container">
  <div class="container">
    <div class="image-with-text__wrapper flex">
      <div class="image-with-text__wrapper-image object-fit-cover">
        {% if section.settings.image %}
          <img
            src="{{ section.settings.image | img_url: 'master' }}"
            alt="{{ section.settings.image.alt }}"
            title="{{ section.settings.image.alt }}"
          >
        {% else %}
          <img src="https://via.placeholder.com/700x780">
        {% endif %}
      </div>
      <div class="image-with-text__wrapper-text">
        <div class="container">
          <div class="image-with-text__wrapper-text--container">
            {% if section.settings.title %}
              <div class="mt-lg image-with-text__wrapper-text-title mb-md title-with-sticker">
                <h2 class="fnt-sec fw-500 uc xl">
                  {{ section.settings.title }}
                  {% if section.settings.sticker %}
                    <img
                      class="sticker-image"
                      title="{{ section.settings.sticker.alt }}"
                      alt="{{ section.settings.sticker.alt }}"
                      src="{{ section.settings.sticker | img_url: 'master' }}"
                    >
                  {% endif %}
                </h2>
              </div>
            {% endif %}
            {% if section.settings.description %}
              <p>{{ section.settings.description }}</p>
            {% endif %}
            {% if section.settings.button %}
              <a href="{{ section.settings.url }}" class="btn mt-lg">{{ section.settings.button }}</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
    "name": "Image with text",
    "settings": [
        {
        "type": "header",
        "content": "Settings"
    },
    {
        "type": "checkbox",
        "id": "border_top",
        "label": "Border Top",
        "default": false
    },
    {
        "type": "checkbox",
        "id": "border_bottom",
        "label": "Border Bottom",
        "default": false
    },
    {
        "type": "select",
        "id": "container",
        "label": "Container width",
        "options": [
            {
                "value": "container",
                "label": "Normal"
            },
            {
                "value": "container--xs",
                "label": "Short"
            }
        ],
        "default": "container"
    },
    {
        "type": "checkbox",
        "id": "center_align",
        "label": "Align to middle",
        "default": false
    },
    {
        "type": "select",
        "id": "margin_top",
        "label": "Margin Top",
        "options": [
            {
                "value": "mt-sm",
                "label": "Small"
            },
            {
                "value": "mt-md",
                "label": "Medium"
            },
            {
                "value": "mt-lg",
                "label": "Large"
            }
        ],
        "default": "mt-sm"
    },
    {
        "type": "select",
        "id": "margin_bottom",
        "label": "Margin Bottom",
        "options": [
            {
                "value": "mb-sm",
                "label": "Small"
            },
            {
                "value": "mb-md",
                "label": "Medium"
            },
            {
                "value": "mb-lg",
                "label": "Large"
            }
        ],
        "default": "mb-sm"
    },
    {
        "type": "select",
        "id": "padding_top",
        "label": "Padding Top",
        "options": [
            {
                "value": "pt-sm",
                "label": "Small"
            },
            {
                "value": "pt-md",
                "label": "Medium"
            },
            {
                "value": "pt-lg",
                "label": "Large"
            }
        ],
        "default": "pt-sm"
    },
    {
        "type": "select",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "options": [
            {
                "value": "pb-sm",
                "label": "Small"
            },
            {
                "value": "pb-md",
                "label": "Medium"
            },
            {
                "value": "pb-lg",
                "label": "Large"
            }
        ],
        "default": "pb-sm"
    },
        {
            "type": "header",
            "content": "Text"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Amina Muaddi"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut bibendum ligula. Fusce sodales dictum dictum. Vestibulum venenatis nibh augue."
        },
        {
            "type": "text",
            "id": "button",
            "label": "Button",
            "default": "shop now"
        },
        {
            "type": "url",
            "id": "url",
            "label": "Link"
        },
        {
            "type": "header",
            "content": "Image"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ],
    "presets": [
        {
            "name": "Image with text",
            "settings": {}
        }
    ]
}
{% endschema %}
