<div class="py-lg py-md--tablet">
    <div class="container overflow-x-scroll">
        <div class="newstyles__wrapper">
            <div class="newstyles__wrapper-block newstyles__wrapper-main my-sm">
                {% if section.settings.url %}<a href="{{ section.settings.url }}">{% endif %}
                    {% if section.settings.main_text != blank %}
                        <div class="newstyles__wrapper-block--content">
                            <h2 class="fnt-sec sm uc">{{ section.settings.main_text }}</h2>
                        </div>
                        {% if section.settings.title %}
                            <p class="fnt-sec uc sm fw-300">{{ section.settings.title }}</p>
                        {% endif %}
                    {% elsif section.settings.main_image != blank %}
                        <div class="newstyles__wrapper-block--content">
                            <img src="{{ section.settings.main_image | img_url: 'master' }}" alt="{{ section.settings.main_image.alt }}" title="{{ section.settings.main_image.alt }}" loading="lazy"/>
                        </div>
                        {% if section.settings.title %}
                            <p class="fnt-sec uc sm fw-300">{{ section.settings.title }}</p>
                        {% endif %}
                    {% endif %}
                {% if section.settings.url %}</a>{% endif %}
            </div>
            {% for block in section.blocks %}
            <div class="newstyles__wrapper-block newstyles__wrapper-image my-sm">
                <a href="{{ block.settings.link }}">
                    <div class="newstyles__wrapper-block--content">
                    {% if block.settings.image %}
                        <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}" title="{{ block.settings.image.alt }}" loading="lazy"/>
                    {% else %}
                        <img src="https://placehold.co/400x400"/>
                    {% endif %}
                    </div>
                    <p class="fnt-sec uc sm fw-300">{{ block.settings.title }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "2.0 New Styles",
        "settings": [
            {
                "type": "header",
                "content": "Text block"
            },
            {
                "type": "text",
                "id": "main_text",
                "label": "Title",
                "default": "New Styles"
            },
            {
                "type": "image_picker",
                "id": "main_image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Bottom text",
                "default": "Just dropped"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Link"
            }
        ],
        "blocks": [
            {
                "name": "Image block",
                "type": "image",
                "settings": [
                    {
                        "type": "header",
                        "content": "Image"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "header",
                        "content": "Text"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Bottom text",
                        "default": "Just dropped"
                    },
                    {
                        "type": "header",
                        "content": "URL"
                    },
                    {
                        "type": "url",
                        "id": "link",
                        "label": "Link"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "2.0 New Styles",
                "settings": {}
            }
        ]
    }
{% endschema %}